servicemixdemo-http/servicemixdemo-http-consumer-su/src/main/resources/demoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DemoServiceImplService" targetNamespace="demo" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="demo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="demo" version="1.0" xmlns:tns="demo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="execute" type="tns:execute"/>
<xs:element name="executeResponse" type="tns:executeResponse"/>
<xs:complexType name="execute">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:foo"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="foo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="executeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bar"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="bar">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="num" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="execute">
    <wsdl:part element="tns:execute" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeResponse">
    <wsdl:part element="tns:executeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DemoService">
    <wsdl:operation name="execute">
      <wsdl:input message="tns:execute" name="execute">
    </wsdl:input>
      <wsdl:output message="tns:executeResponse" name="executeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DemoServiceImplServiceSoapBinding" type="tns:DemoService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="execute">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoServiceImplService">
    <wsdl:port binding="tns:DemoServiceImplServiceSoapBinding" name="DemoServiceImplPort">
      <soap:address location="http://localhost:8080/cxfdemo-server/demoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>